@page "/fetchdata"
@using BookListLibrary.Data
@using BookListLibrary.Services
@inject BookListService ListService

<PageTitle>Book List</PageTitle>

<h1>Book List</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (lists == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>PublicationDate</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var list in lists)
            {
                <tr>

                    <td>@list.Title</td>
                    <td>@list.Author</td>
                    <td>@list.Genre</td>
                    <td>@list.PublicationDate</td>
                    <td>@list.Description</td>

                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<BookList>? lists;

    protected override async Task OnInitializedAsync()
    {
        lists = await ListService.GetbookAsync();
    }
}
