
@inject NavigationManager NavigationManager

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <button type="button" class="btn btn-secondary mt-3 ml-2" @onclick="Addbook">Add book to your Wishlist</button>

        </LayoutView>
    </NotFound>
</Router>
@code {
        void Addbook()
        {
            NavigationManager.NavigateTo("/addnewbook");
        }
    }